@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-black: #221d23;
  --color-white: #f8f9f1;
  --color-green: #4b5320;
  --color-green-light: #6b762e;
  --color-blue: #8aecff;
  --color-yellow: #fffcc9;

  --font-barlow: "Barlow", sans-serif;
  --font-kiante: "Kiante", "Barlow", sans-serif;
  --font-colby: "Colby", "Barlow", sans-serif;
}

:root {
  --background: #e1e2d4;
  --foreground: #221d23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e1e2d4;
    --foreground: #221d23;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Barlow", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-barlow), sans-serif;
  color: var(--foreground);
}
